

<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-light fw-bold" [routerLink]="['/']" routerLinkActive="router-link-active">
      {{name}}
    </a>
    <ul class="nav justify-content-end ">
        <li class="nav-item">
          <a class="nav-link active text-light" [routerLink]="['/about']" routerLinkActive="router-link-active" >Profile</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" [routerLink]="['/admin']" routerLinkActive="router-link-active" >My Posts</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success text-light" [routerLink]="['/login']" routerLinkActive="router-link-active" >Log with Google</a>
        </li>
      </ul>
</nav>
