<div class="container justify-content-center">
  <div class="row">

      <mat-card class="post-card p-5 m-2 col" *ngFor="let post of posts">
        <mat-card-header>
          <mat-card-title>
            <a [routerLink]="['/post', post.id]">
              {{ post.titlePost }}
            </a>
          </mat-card-title>
        </mat-card-header>
        <img matCardImage [src]="post.imagePost" class="img-fluid"/>
        <mat-card-content>
          <p>
            {{ post.contentPost }}
          </p>
        </mat-card-content>
      </mat-card>

  </div>
</div>
