.container{
    a{cursor: pointer;
    text-decoration: none;
    color: #fafafa;
    }

    .post-card{
        background: #131313;
        color: #fafafa;
        
        img{
            height: 200px;
        }
    }
    
}