<div class="container" *ngIf="posts$ | async as posts; else loading">
  <!--{{posts$ | async | json}}-->
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col" *ngFor="let post of posts">
      <div class="card mt-5">
        <img [src]="post.imagePost" class="card-img-top" alt="..." />
        <div class="card-body">
          <a
            class="card-title h4 text-decoration-none text-primary"
            [routerLink]="['/post', post.id]"
          >
            {{ post.titlePost }}
          </a>
          <p class="card-text pt-2">
            {{ post.contentPost }}
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <button class="btn mx-1" *ngFor="let tag of post.tagsPost" [ngClass]="tag">
            {{tag}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 90vh"
  >
    <div class="row">
      <div class="col">
        <div class="col d-flex align-items-center justify-content-center">
          <div class="spinner-grow text-primary " style="width: 6rem; height: 6rem;" role="status">
          </div>          
        </div>
      </div>
    </div>
  </div>
</ng-template>
